@model MiniApp.Models.DispatchAgencyTbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DispatchAgencyTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DispatchAgencyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DispatchAgencyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DispatchAgencyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
